#Application Name
spring:
  application:
    name: eureka-server

server:
  port: 8761

eureka:
  client:
    #telling the server not to register himself in the service registry
    registerWithEureka: false
    fetchRegistry: false
  server:
    #wait time for subsequent sync
    waitTimeInMsWhenSyncEmpty: 0